.panel-heading{
	background-color: rgb(255, 66, 66);
}

body {
	background: url('/images/forest-bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	/*legend {
		font-size: 1.4em;
		margin-top: -16px;
		margin-bottom: 5px;
		padding-bottom: 10px;
	}*/

legend {
	font-size: 3rem;
}

#insertMemberForm > legend,
.panel-member > legend {
	margin-top: 0px;
}

.btn {
	font-size: 2rem;
	padding-top: 0.1rem;
}




/* UI COMPONANT */

div.panel div.panel-body h1, form fieldset h1, div.panel-body h1{
	margin: 0px 0px 40px;
    text-align: center;
}

	button.loginBtn{
		float: right;
		padding: 9px 13px;
		min-width: 150px;
		margin: 20px 5% 0 0;
		border: none;
		font-family: 'Raleway';
		font-size: 14px;
		font-weight: 200;
		border-radius: 3px;
		cursor: pointer;
		text-decoration: none;
		transition: all 200ms;
	}
	button.loginBtn.success{
		background-color: #00b1ff;
		color: white;
	}
	button.loginBtn.success:hover{ background-color: #71daff; }
	button.loginBtn.cancel{
		background-color: white;
		color: #ffac33;
	}
	button.loginBtn.cancel:hover{
		background-color: #ffac33;
		color: white;
	}

	input.input_login, select.input_login{
		display: block;
		width: 90%;
    	display: inline-block;
    	box-sizing: border-box;
    	padding: 0px;
    	margin: 8px 5% 18px 5%;
    	height: 30px;
    	line-height: 30px;
    	border-width: medium medium 1px;
    	border-style: none none solid;
    	border-color: -moz-use-text-color -moz-use-text-color #303030;
    	-moz-border-top-colors: none;
    	-moz-border-right-colors: none;
    	-moz-border-bottom-colors: none;
    	-moz-border-left-colors: none;
    	border-image: none;
    	outline: medium none;
    	color: #303030;
    	font-size: 16px;
    	vertical-align: top;
    	transition: border 0.56s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    	-webkit-appearance: none;
   		-moz-appearance: none;
   		appearance: none;
	}

	select.input_login option{
		height: 30px;
		line-height: 30px;
		display: block;
	}

	input.input_login:focus, select.input_login:focus{ border-bottom: 1px solid #2196F3; }
	input.input_login.wrong, select.input_login.wrong{ border-bottom: 1px solid #ffac33; }


	form fieldset label{
		position: absolute;
		bottom: 19px;
		left: 30px;
		font-family: Helvetica, arial;
		font-size: 18px;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #303030;
		z-index: 5;
		width: auto;
		text-align: left;
		border-bottom: 0;
		margin-bottom: 0;
		transition: all 200ms;
	}
	form fieldset div.form-group.active label{
		font-size: 15px;
		color: #00b1ff;
		bottom: 49px;
	}

	button.btn-primary{
		background-color: #00b1ff;
		margin-right: 20px;
	}