<Template name="Main">
	<head>
		<meta charset="utf-8">
	  <title>RFS-EMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>

	<body>
      {{> navbar}}
    <div class="container-fluid">
	    <div class="row">
	    <!-- {{> sidebar}} -->
		    <div class="col-sm-12 col-md-12 main">
					<div class="row">
					{{#if currentUser}}
				  	{{> yield}}
					{{else}}
						<h1>Please Log In</h1>
					{{/if}}
					</div>
		    </div>
	    </div>

    </div>
	</body>
</Template>
