<Template name="FullLayout">
	<head>
		<meta charset="utf-8">
	  <title>RFS-EMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>

	<body>
    <div class="container-fluid">
	    <div class="row">
		    <div class="col-sm-12 col-md-12 main">
					{{> yield}}
		    </div>
	    </div>
    </div>
	</body>
</Template>
