*{
	padding: 0;
	magin: 0;
}

ul.navbar-nav{
	float: right;
}

nav.navbar{
	border-radius: 0;
}
nav.navbar-default{
	background-color: rgb(250, 250, 250);
	float: none !important;
}
.navbar-nav>li {
	font-size: 1.6rem;
}
.navbar-brand > img{
	display: inline;
	float: none !important;
	margin-top: -15px;
}

img{
	vertical-align: top;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	top: 0;
}

@media (max-width: 480px){
}

@media (min-width: 768px) {
	@media (max-width: 1032px) {
		.navbar-brand > img {
			content: 'NSW RFS';
		}
	}
}
