<template name="sidebar">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li><a href="">something</a></li>
			<li><a href="">something</a></li>
			<li><a href="">something</a></li>
			<li><a href="">something</a></li>
			<li><a href="">something</a></li>
		</ul>
	</div>
</template>
