/*
----------MOBILE VERSION----------
*/
.row{ margin: 0; } /* THANKS BOOTSTRAP */
.form-group{ position: relative; }
.row img.RFS-Logo{
	width: 100px;
	margin: 10% auto 0;
	display: block;
}

form.login-form {
	width:100%;
	height: auto;
	background-color: white;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}

	form.login-form button.loginBtn{
		float: right;
		padding: 3px 6px;
		margin: 20px 5% 0 0;
		border: none;
		font-family: 'Raleway';
		font-size: 14px;
		font-weight: 200;
		border-radius: 3px;
		cursor: pointer;
		text-decoration: none;
		transition: all 200ms;
	}
	form.login-form button.loginBtn.success{
		background-color: #00b1ff;
		color: white;
	}
	form.login-form button.loginBtn.success:hover{ background-color: #71daff; }
	form.login-form button.loginBtn.cancel{
		background-color: white;
		color: #ffac33;
	}
	form.login-form button.loginBtn.cancel:hover{
		background-color: #ffac33;
		color: white;
	}

	form.login-form input.input_login{
		display: block;
		width: 90%;
    	display: inline-block;
    	box-sizing: border-box;
    	padding: 0px;
    	margin: 8px 5% 18px 5%;
    	height: 30px;
    	line-height: 30px;
    	border-width: medium medium 1px;
    	border-style: none none solid;
    	border-color: -moz-use-text-color -moz-use-text-color #303030;
    	-moz-border-top-colors: none;
    	-moz-border-right-colors: none;
    	-moz-border-bottom-colors: none;
    	-moz-border-left-colors: none;
    	border-image: none;
    	outline: medium none;
    	color: #303030;
    	font-size: 16px;
    	vertical-align: top;
    	transition: border 0.56s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	}
	form.login-form h1{
		margin: 0px 0px 40px;
    	text-align: center;
	}
	form.login-form input.input_login:focus{ border-bottom: 1px solid #2196F3; }
	form.login-form input.input_login.wrong{ border-bottom: 1px solid #ffac33; }

	form.login-form legend{
		position: absolute;
		bottom: 19px;
		left: 26px;
		font-family: Helvetica, arial;
		font-size: 20px;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #303030;
		z-index: 5;
		width: auto;
		text-align: left;
		border-bottom: 0;
		margin-bottom: 0;
		opacity: .5;
		transition: all 200ms;
	}
	form.login-form div.form-group.active legend{
		opacity: 1;
		font-size: 15px;
		color: #00b1ff;
		bottom: 49px;
		left: 19px;
	}


/*
----------IPAD VERSION----------
*/
@media screen and (min-width: 768px ){}

/*
----------SMALL SCREEN VERSION----------
*/
@media screen and (min-width: 992px ){}

/*
----------LARGE SCREEN VERSION----------
*/
@media screen and (min-width: 1200px ){}
/*
----------SUPER LARGE SCREEN VERSION----------
*/
@media screen and (min-width: 1600px ){}
