#insertSkillForm {
	border: 10px solid rgb(250, 250, 250);
	background-color: rgb(250, 250, 250);
}
.table{
	display: table;
}
.table-header{
	font-size: 16px;
	font-weight: bolder;
	min-width: 40%;
	max-width: 40%;
	display: table-cell;;
}
.table-row{
	display: table-row;
}

.skill-table{
	width: 100%;
	display: table;
	font-size: 2rem;
}
.skill-name,
.skill-code{
	padding-top: 15px;
	min-width: 40%;
	max-width: 40%;
	display: table-cell;
}


form#insertSkillForm, div.panel-primary{
	background-color: #fff;
	border: none;
	width:100%;
	height: auto;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}

#skill-name-error,
#skill-code-error {
	width: 90%;
	text-align: right;
	color:  #f24f3b;
}
