<template name="SkillsTemplate">
	<div class="col-sm-6 col-md-6">
		{{> insertSkillForm}}
	</div>
	<div class="col-sm-6 col-md-6">
	<div class="panel panel-primary">
		<div class="panel-body">
			<h1>Skills</h1>
			<div class="table skill-table">
				<p class="table-row"><span class="table-header">Name</span><span class="table-header">code</span></p>
				{{#each skills}}
					{{> SkillTemplate}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
</template>

<template name="SkillTemplate">
	<p class="table-row"><span class="skill-name">{{name}}</span> <span class="skill-code">{{code}}</span><button class="delete remove-skill btn btn-primary">&cross;</button></p>
</template>
