#insertUserForm {
	border: 10px solid rgb(250, 250, 250);
	background-color: rgb(250, 250, 250);
}

.user-panel > p{
	font-size: 1.6rem;
}

form#insertUserForm, div.panel-default{
	background-color: #fff;
	border: none;
	width:100%;
	height: auto;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}

#email-error,
#password-error {
	width: 90%;
	text-align: right;
	color:  #f24f3b;

}
