<template name="UsersTemplate">
<div class="col-sm-6 col-md-6">
	{{> insertUserForm}}
</div>
<div class="col-sm-6 col-md-6 col-pull-3">
<div class="panel panel-default">
	<div class="user-panel panel-body">
		<h1>Users</h1>
		{{#each users}}
				{{> User}}
		{{/each}}
		{{Meteor.users}}
	</div>
</div>
</div>

</template>

<template name="User">
	{{#each emails}}
			<p><button class="delete btn btn-primary">x</button>  {{address}}</p>
	{{/each}}
</template>
