<template name="ProfileTemplate">
	<div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
		<div class="panel-primary">
			<div class="panel-body">
					<h3 class="page-header">{{first}} {{last}}</h3>
					<h1>Skills</h1>
					{{#each skills}}<img src='/images/{{.}}.png' id='{{.}}' class="skill-badge" width="100px" height="100px"/>{{/each}}
					<form id="attachSkillForm" class="attach-skill">
						<fieldset>
							<h1>Attach Skill</h1>
							<input type="hidden" value="{{_id}}" id="id">
							<select id="skills" class="input_login required">
									<option value disabled selected>Select A Skill<span class="caret"></span></option>
								{{#each allskills}}
									<option value="{{code}}">{{name}}</option>
								{{/each}}
							</select>

						</fieldset>
						<button type="submit" class="loginBtn success">Attach</button>
					</form>
			</div>
		</div>
	</div>
</template>
