.panel-primary{
	border: 10px solid rgb(250, 250, 250);
	background-color: rgb(250, 250, 250);
	display: block;
}
.panel-primary:after{
	clear: both;
}

.add-skill-btn{
	margin-top: 20px;
}

#skills {
	position: relative;
}

#skills-error {
	position: relative;
	left: 42px;
	top: -70px;
	color:  #f24f3b;
}
