<template name="attachSkillForm">
	<form id="attachSkillForm" class="attach-skill">
		<fieldset>
			<h1>Attach Skill</h1>
			<select class="input_login required">
					<option value disabled selected>Select A Skill</option>
				{{#each skills}}
					<option disabled="disabled" selected="selected">Test</option>
				{{/each}}
			</select>
		</fieldset>
		<button type="submit" class="loginBtn success">Attach</button>
	</form>
</template>
