<template name="insertTypeForm">
	<form id="insertTypeForm" class="new-type">
		<fieldset>
			<h1>Add A Type</h1>
			<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" class="input_login required">
			</div>
		</fieldset>
		<button type="submit" class="loginBtn success">Add Call Type</button>
	</form>
</template>
