<template name="insertSkillForm">
	<form id="insertSkillForm" class="new-skill">
		<fieldset>
			<h1>Add A Skill</h1>
			<div class="form-group">
			<label for="name">Skill Name</label>
			<input type="text" name="skill-name" id="skill-name" class="input_login required">
			</div>
			<div class="form-group">
			<label for="name">Skill Code</label>
			<input type="text" name="skill-code" id="skill-code" class="input_login required">
			</div>
		</fieldset>
		<button type="submit" class="loginBtn success">Add Skill</button>
	</form>
</template>
