<template name="insertCallForm">
	<form id="insertCallForm" class="new-call">
	<fieldset>
		<h1>Send A Call</h1>
		<div class="form-group">
			<label for="message">Message</label>
			<input type="text" name="message" id="message" class="input_login required">
		</div>
		<div class="form-group">
	<select name="type" id="type" class="input_login required">
		<option disabled selected>Select A Call Type</option>
		{{#each types}}
			<option value="{{code}}">{{name}}</option>
		{{/each}}
	</select>
	</div>
	<div class="form-group">
		<select name="officer" id="officer" class="input_login required">
			<option disabled selected>Select A Call Officer</option>
			{{#each members}}
			<option value="{{_id}}">{{first}} {{last}}</option>
			{{/each}}
		</select>
	</div>
</fieldset>
	<button type="submit" class="loginBtn success">Send Alert</button>
</form>
</template>

<!-- <template name="attachSkillForm">
	<form id="attachSkillForm" class="attach-skill">
		<fieldset>
			<legend>Attach Skill</legend>
			<select>
					<option value disabled selected>Select A Skill</option>
				{{#each skills}}
					<option disabled="disabled" selected="selected">Test</option>
				{{/each}}
			</select>
		</fieldset>
		<button type="submit" class="btn btn-primary">Attach</button>
	</form>
</template> -->
