<template name="insertMemberForm">
	<form id="insertMemberForm" class="new-member">
		<fieldset>
			<h1>Add A Member</h1>
			<div class="form-group">
				<label for="first">First Name</label>
				<input type="text" id="first" name="first" class="input_login required">
			</div>
		<div class="form-group">
			<label for="last">Last Name</label>
			<input type="text" id="last" name="last" class="input_login required">
		</div>
		<div class="form-group">
			<label for="mobile">Mobile Number</label>
			<input type="text" id="mobile" name="mobile" class="input_login required digits">
		</div>
		</fieldset>

		<button type="submit" class="loginBtn success">Add Member</button>
	</form>
</template>
