<template name="insertUserForm">
	<form id="insertUserForm" class="new-user">
		<fieldset>
			<h1>Add A User</h1>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" class="input_login required email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="input_login required">
			</div>
		</fieldset>
		<button type="submit" class="loginBtn success">Add User</button>
	</form>
</template>
