<template name="loginForm">
	<img class="RFS-Logo" src='/images/RFS_Logo.svg'>
	<form id="LoginForm" class="login-form">
		<fieldset>
			<h1>Login</h1>
			<div class="form-group">
				<legend for="email">Email</legend>
				<input type="email" name="email" id="email" value="" class="input_login required email">
			</div>
			<div class="form-group">
				<legend for="password">Password</legend>
				<input type="password" name="password" id="password" class="input_login required">
			</div>
		</fieldset>
		<div class="form-group">
			<button type="submit" class="loginBtn success">Login</button>
			<button class="loginBtn cancel">Cancel</button>
		</div>
	</form>
</template>
