<template name="TypesTemplate">
	<div class="col-sm-6 col-md-6">
		{{> insertTypeForm}}
	</div>
	<div class="col-sm-6 col-md-6">
	<div class="panel panel-primary">
		<div class="panel-body">
			<h1>Types</h1>
			<div class="table type-table">
				{{#each types}}
					{{> TypeTemplate}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
</template>

<template name="TypeTemplate">
	<p><span class="table-cell"><button class="delete btn btn-primary">x</button></span><a class="type-link" href="/types/{{_id}}"><span class="table-cell">{{name}}</span><span class="table-cell">{{#each required}}{{type}}{{/each}}</span></a></p>
</template>
