#insertTypeForm{
	border: 10px solid rgb(250, 250, 250);
	background-color: rgb(250, 250, 250);
}

.attach-skill-button{
	margin-top: 20px;
}

fieldset{
	margin-top: 20px;
}


panel.panel-primary{
	background-color: #fff;
	border: none;
	width:100%;
	height: auto;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}

#typeSkills {
	position: relative;
}

#typeSkills-error {
	position: relative;
	top: -70px;
	left: 42px;
	color:  #f24f3b;
}
