<template name="TypeSkillTemplate">
	<div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
		<panel class="panel-primary">
			<div class="panel-body">
				<h1>{{name}}</h1>
					<h4>Required Skills</h4>
					{{typeSkills required}}
					{{#each required}}<img src='/images/{{.}}.png' id="{{.}}" class="skill" alt='' height="70px" width="70px">{{/each}}
					<form id="attchTypeSkillForm" class="attach-type-skill">
						<fieldset>
						<h1>Add Required Skill</h1>
						<input type="hidden" value="{{_id}}" id="id">
						<select name="skills" id="typeSkills" class="input_login required">
							<option value disabled selected>Select A Skill<span class="caret"></span></option>
							{{#each allskills}}
								<option value="{{code}}">{{name}}</option>
							{{/each}}
						</select>
					</fieldset>
					<button type="submit" class="loginBtn success attach-skill-button">Attach</button>
					</form>
			</div>
		</panel>
	</div>
</template>
