.type-link {
	margin-left: 10px;
}

.type-table {
	font-size: 2rem;
}

form#insertTypeForm, div.panel-primary{
	background-color: #fff;
	border: none;
	width:100%;
	height: auto;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}

#name-error {
	width: 90%;
	text-align: right;
	color:  #f24f3b;
}
