<template name="CallsTemplate">
	<div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
		{{> insertCallForm}}
	</div>

	<div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 main">
	<div class="panel panel-primary">
		<div class="panel-body panel-calls">
			<h1>Previous Calls</h1>
			{{#each calls}}
				{{> Call}}
			{{/each}}
			<!-- <nav>
			  <ul class="pager">
			    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
			    <li class="next"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
			</nav> -->
			<nav>
		    <ul class="pager">
		      <li class="{{prevPageClass}}">
		        <a id="prevPage" href="{{prevPage}}">
		          <span aria-hidden="true">&larr;</span>&nbsp; Next
		        </a>
		      </li>
		      <li class="{{nextPageClass}}">
		        <a id="nextPage" href="{{nextPage}}">
		          Previous <span aria-hidden="true">&rarr;</span>
		        </a>
		      </li>
		    </ul>
		  </nav>
		</div>
	</div>
</div>

</template>


<template name="Call">
		<h4 class="call-label">{{formatDate(createdAt)}} | {{type}}</h4>
		<p class="call-officer">Callout Officer: {{callOfficer officer}}</p>
		<p class="call-message">{{message}}</p>

</template>
