.panel-calls {
	margin-bottom: 40px;
}

.call-delete {
	display: inline-block;
}
.call-label {
	display: inline-block;
	/*padding-left: 20px;*/
}
.call-officer,
.call-message {
	padding-left: 10px;
	font-weight: 200;
	font-size: 1.6rem;
}

.col-sm-6 {
	margin-top: 10px;
}

#insertCallForm {
	border: none;
	background-color: white;
}

.calls-panel {
	margin-top: 10px;
}

.call-message,
.call-officer,
.call-label {
	margin-left: 40px;
}

.call-message {
	margin-bottom: 20px;
}

.main {
	margin-top: 20px;
}
#prevPage {
	font-size: 2.5rem;
	float: left;
}

#nextPage {
	font-size: 2.5rem;
	float: right;
}

.pager{
	margin: 0 !important;
	position: absolute;
	bottom: 13px;
	overflow: auto;
	width: calc(100% - 30px);
}

.panel-primary{
	border: none !important;
	background-color: #fff !important;
	min-height: 200px !important;
	position: relative !important;
}

.disabled > a#prevPage,
.disabled > a#nextPage,
.disabled > a#prevPage:hover,
.disabled > a#nextPage:hover{
	background-color: #9ae2fc;
	cursor: not-allowed;
}

form#insertMemberForm, div.panel-primary{
	background-color: #fff;
	border: none;
	width:100%;
	height: auto;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}


label {
	font-size: 2rem;
}

#message-error,
#type-error,
#officer-error {
	width: 90%;
	text-align: right;
	color:  #f24f3b;
}

form#insertCallForm{
	width:100%;
	height: auto;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}

	a#prevPage, a#nextPage{
		padding: 9px 13px;
		min-width: 150px;
		margin: 0;
		border: none;
		font-family: 'Raleway';
		font-size: 14px;
		font-weight: 200;
		border-radius: 3px;
		cursor: pointer;
		text-decoration: none;
		transition: all 200ms;
		background-color: #00b1ff;
		color: white;
	}

	a#prevPage{
	}
	a#prevPage:hover, a#nextPage:hover{
		background-color: #71daff;
	}
