#insertMemberForm {
	border: 10px solid rgb(250, 250, 250);
	background-color: rgb(250, 250, 250);
}

/*.delete {
	background-color: rgb(255, 220, 70);
	border-color: rgb(255, 220, 70);
	color: black;
}

.delete:hover {
	background-color: rgb(230, 199, 70);
	border-color: rgb(230, 199, 70);
	color: black;
}*/

.panel-member{
	margin-top: 20px;
}
.panel-member, p {
	font-size: 2.2rem;
}

form#insertMemberForm, div.panel-primary{
	background-color: #fff;
	border: none;
	width:100%;
	height: auto;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}


div.panel-body p a{ font-size: 1.6rem; }

#first-error,
#last-error,
#mobile-error {
	width: 90%;
	text-align: right;
	color:  #f24f3b;
}
