<template name="MembersTemplate">
	<div class="col-sm-6 col-md-6">
		{{> insertMemberForm}}
	</div>
	<div class="col-sm-6 col-md-6 col-pull-3">
	<div class="panel-member panel panel-primary">
		<div class="panel-body">
		<h1>Members</h1>
			{{#each members}}
				{{> Member}}
			{{/each}}
		</div>
	</div>

</div>
</template>


<template name="Member">
			<p><button class="delete btn btn-primary">x</button><a href="member/{{_id}}"><b> {{first}} {{last}}</b> <span class="mobile">{{mobile}}</span></a></p>
	<script>
		function fixNumbers(){
			var mobile = document.getElementsByClassName('mobile')
			for(var i = 0; i< mobile.length; i++)
			{
				document.getElementsByClassName('mobile')[i].innerHTML = document.getElementsByClassName('mobile')[i].innerHTML.replace('+614', '04')
			}
		}
		window.onload = fixNumbers();
	</script>
</template>
