.dashboard-panel {
	border: none !important;
	background-color: white;
	box-shadow: 2px 2px 20px #303030;
	position: relative;
	overflow: auto;
	padding-bottom: 2%;
	z-index: 0;
	border-radius: 4px;
	margin-top: 30px;
}

.call-time {
	font-size: 2rem;
}

.call-required-header {
	font-size: 3rem;
}

.header-container {
	margin-top: 4px;
	font-weight: bold;
	border-bottom: 2px solid rgb(164, 164, 164);
}

.response-container,
.header-container {
	display: table;
	width: 100%;
}

.response-last,
.response-time,
.response-first,
.header-last,
.header-first,
.header-time,
.header-skill
 {
	min-width: 12.5%;
	max-width: 25%;
	width: 25%;
	display: table-cell;
	font-size: 2rem;
}


.panel-primary > .panel-heading {
	background-color: rgb(255, 70, 70);
	border-color: rgb(255, 70, 70);
}

.skill-hide {
	display: none;
}
