<template name="Dashboard">
	<div class="col-sm-10 col-md-10 col-sm-offset-1">
		<div class="dashboard-panel panel panel-primary">
			<div class="panel-heading">
				<h2>{{lastCall.message}}</h2>
				<p class="call-time">{{lastCall.createdAt}}</p>
				<p class="call-required-header">Qualifications Still Required</p>
				<p class="call-required">
					{{#each required.required}}
					<img class='{{stillrequired this}}' src='/images/{{.}}.png' alt='' height="70px" width="70px">
					{{/each}}
				</p>
			</div>
			{{> LastCall}}
		</div>
	</div>
</template>

<template name="LastCall" onload="checkNegative()">
	<div class="panel-body">
		<p class="header-container"><span class="header-last">Given Name</span><span class="header-first">Family Name</span><span class="header-time">ETA</span><span class="header-skill">Qualifications</span></p>
		{{#each response}}
			{{#each mems memberId}}
				<p class="response-container">
					<span class="response-last">{{first}}</span>
					<span class="response-first">{{last}}</span>
					{{#each sms _id}}
						<span class="response-time">{{formatDate}}</span>
					{{/each}}
					<span class="response-badges">
					{{#each skills}}
						<img src="/images/{{.}}.png" alt="" height="40px" width="40px">
					{{/each}}
				</span>
				</p>
			{{/each}}
		{{/each}}
	</div>
</template>
